body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.donate{
    background-image: url(images/donation.jpg);
    background-position-x:center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover; 
}
.donate-quote{
    text-align: center;
    color:white;
    padding: 100px;
    font-size: 20px;
}
.donate-quote p{
    background-color: rgb(39, 39, 238);
}