body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #e8f3fc;
}
.donate{
    background-image: url(images/donation.jpg);
    background-position-x:center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover; 
    padding-bottom: 60px;
}
.donate-quote{
    text-align: center;
    color:whitesmoke;
    padding: 100px;
    font-size: 40px;
}
.donate-quote p{
    background-color: #dbceb5e0;
}
.font-s{
    font-size: 30px;
    
}
.paddin{
    padding-top: 50px;
    padding-bottom: 50px;
}
a{
    text-decoration: none;
}
.text-a{
    text-align: center;
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.amount{
    border:3px solid tomato;
}
.submit{
    background-color: tomato;
}
.hori-ruler{
    width: 30%;
    text-align: center;
}
.to-do{
    display: flex;
}
.update{
    font-size: 40px;
}
.help{
    width:40%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;
    padding-right: 10px;
}
.food{
    background-color:#FAEBD7;
}
.shelter{
    background-color: #DCDCDC;
}
.education{
    background-color: #E6E6FA;
}
.join-us{
    margin-left: 20%;
    margin-right: 20%;
    border: 0;
    background-color: #f3e6d2;
    padding-bottom: 10px;
}
#email{
    padding: 10px 20px;
}
#subscribe{
    border: 0;
    padding: 10px 20px;
    background-color: gray;
}
footer{
    padding: 20px;
    width: 100%;
    background-color:gray;
    color: white;
    text-align: center;
    margin: 0;
 }
 #humble{
    font-size: 30px;
    font-family:cursive;
 }